USE [03.Entrega];
GO

DROP TABLE IF EXISTS [dbo].[Departamentos];
GO

CREATE TABLE [dbo].[Departamentos](
	[DepartamentoID]	[INT]			NOT NULL	PRIMARY KEY	IDENTITY(1,1)
	,[Nombre]			[NVARCHAR](MAX)	NULL
);
GO

INSERT [dbo].[Departamentos] ([Nombre]) VALUES (N'Artigas');
INSERT [dbo].[Departamentos] ([Nombre]) VALUES (N'Canelones');
INSERT [dbo].[Departamentos] ([Nombre]) VALUES (N'Montevideo');
GO
