USE [03.Entrega];
GO

DROP TABLE IF EXISTS [dbo].[Empresas];
GO

CREATE TABLE [dbo].[Empresas](
	[EmpresaID] [INT]			NOT NULL	PRIMARY KEY IDENTITY(1,1)
	,[Nombre] [NVARCHAR](MAX)	NULL
);
GO

INSERT [dbo].[Empresas] ([Nombre]) VALUES (N'ABANUR SOCIEDAD ANONIMA');
INSERT [dbo].[Empresas] ([Nombre]) VALUES (N'ABLENVEL S A');
INSERT [dbo].[Empresas] ([Nombre]) VALUES (N'AMIRAL S A');
GO
