USE [03.Entrega];
GO

DROP TABLE IF EXISTS [dbo].[PaisesOrigen];
GO

CREATE TABLE [dbo].[PaisesOrigen](
	[PaisOrigenID] [INT]		NOT NULL	PRIMARY KEY IDENTITY(1,1)
	,[Nombre] [NVARCHAR](MAX)	NULL
);
GO

INSERT [dbo].[PaisesOrigen] ([Nombre]) VALUES (N'ALEMANIA');
INSERT [dbo].[PaisesOrigen] ([Nombre]) VALUES (N'ARGENTINA');
INSERT [dbo].[PaisesOrigen] ([Nombre]) VALUES (N'BRASIL');
GO
