# Definiciones de archivos binarios
*.dll                           binary

# Archivos de PowerShell: Forzamos LF para compatibilidad multiplataforma (Windows, MacOS, Linux, Contenedores)
*.ps1                           text eol=lf
*.psm1                          text eol=lf
*.psd1                          text eol=lf
*.psc1                          text eol=lf
*.ps1xml                        text eol=lf
*.clixml                        text eol=lf

# Archivos de Código y Texto: LF para compatibilidad multiplataforma
*.cs                            text eol=lf
*.txt                           text eol=lf
*.md                            text eol=lf
*.xml                           text eol=lf
*.css                           text eol=lf

# CRITICO: Archivos de Infraestructura y Linux (DEBEN SER LF)
# Esto soluciona el error de "unexpected token \r" en WSL2
*.sh                            text eol=lf 
Dockerfile                      text eol=lf 
*.yml                           text eol=lf 
*.json                          text eol=lf 
.env                            text eol=lf

# Configuraciones de Git y Omitidos
.gitignore                      export-ignore
.gitattributes                  export-ignore
.github/                        export-ignore
.vscode/                        export-ignore
.devcontainer/                  export-ignore
build/                          export-ignore
config/                         export-ignore
README.md                       export-ignore
PSScriptAnalyzerSettings.psd1   export-ignore

# Reconocimiento de lenguajes para GitHub/Linguist
Modules/* linguist-vendored
**/*.ps1                        linguist-language=powershell