USE [03.Entrega];
GO

DROP TABLE IF EXISTS [dbo].[PaisesProcedencia];
GO

CREATE TABLE [dbo].[PaisesProcedencia](
	[PaisProcedenciaID] [INT]	NOT NULL	PRIMARY KEY IDENTITY(1,1)
	,[Nombre] [NVARCHAR](MAX)	NULL
);
GO

INSERT [dbo].[PaisesProcedencia] ([Nombre]) VALUES (N'ALEMANIA');
INSERT [dbo].[PaisesProcedencia] ([Nombre]) VALUES (N'ARGENTINA');
INSERT [dbo].[PaisesProcedencia] ([Nombre]) VALUES (N'BELGICA, LUXEMBURGO');
GO
