USE [03.Entrega];
GO

DROP TABLE IF EXISTS [dbo].[Regimenes];
GO

CREATE TABLE [dbo].[Regimenes](
	[RegimenID] [INT]			NOT NULL	PRIMARY KEY IDENTITY(1,1)
	,[Nombre] [NVARCHAR](MAX)	NULL
);
GO

INSERT [dbo].[Regimenes] ([Nombre]) VALUES (N'Imp.Definitiva desde Z.F. con usuario registrado en ZF');
INSERT [dbo].[Regimenes] ([Nombre]) VALUES (N'Importacion Definitiva con Despacho desde Deposito');
INSERT [dbo].[Regimenes] ([Nombre]) VALUES (N'Importacion Definitiva con Despacho Directo');
GO
