USE [03.Entrega];
GO

DROP TABLE IF EXISTS [dbo].[Ciudades];
GO

CREATE TABLE [dbo].[Ciudades](
	[CiudadID]	[INT]			NOT NULL	PRIMARY KEY	IDENTITY(1,1) 
	,[Nombre]	[NVARCHAR](MAX)	NULL
);
GO

INSERT [dbo].[Ciudades] ([Nombre]) VALUES (N'Barros Blancos');
INSERT [dbo].[Ciudades] ([Nombre]) VALUES (N'Bella Unión');
INSERT [dbo].[Ciudades] ([Nombre]) VALUES (N'Lagomar');
GO
