USE [03.Entrega];
GO

DROP TABLE IF EXISTS [dbo].[UnidadesFisicas];
GO

CREATE TABLE [dbo].[UnidadesFisicas](
	[UnidadFisicaID] [INT]		NOT NULL	PRIMARY KEY IDENTITY(1,1)
	,[Nombre] [NVARCHAR](MAX)	NULL
);
GO

INSERT [dbo].[UnidadesFisicas] ([Nombre]) VALUES (N'NUMERO');
GO
