USE [03.Entrega];
GO

DROP TABLE IF EXISTS [dbo].[DescripcionesComerciales];
GO

CREATE TABLE [dbo].[DescripcionesComerciales](
	[DescripcionComercialID]	[INT]			NOT NULL	PRIMARY KEY IDENTITY(1,1)
	,[Nombre]					[NVARCHAR](MAX)	NULL
);
GO

INSERT [dbo].[DescripcionesComerciales] ([Nombre]) VALUES (N'DDDESC_COMER');
INSERT [dbo].[DescripcionesComerciales] ([Nombre]) VALUES (N'102 NEUMATICOS PARA CAMIONES IT.1,2 S/DET.FAC.');
INSERT [dbo].[DescripcionesComerciales] ([Nombre]) VALUES (N'250 UN. NEUMATICOS PARA CAMION IT.7,8 S/DET.FAC.');
GO