#version: '3'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile

    volumes:
      - ../..:/workspaces:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    network_mode: service:db

    # Uncomment to connect as root instead. More info: https://aka.ms/dev-containers-non-root.
    # user: root

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  db:
    image: mcr.microsoft.com/azure-sql-edge
    hostname: ${MSSQL_HOSTNAME}
    container_name: ${MSSQL_CONTAINER_NAME}
    restart: unless-stopped
    environment:
      ACCEPT_EULA: Y
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: ${MSSQL_CPUS_LIMIT}
          memory: ${MSSQL_MEMORY_LIMIT}

    # Add "forwardPorts": ["db:1433"] to **devcontainer.json** to forward MSSQL locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)